*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #F5F5F5;
   margin: 0;
   font-family: Arial,  sans-serif;
}


.headerContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    
   
   
}
.logoEmri{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    
}
.headerContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: Arial;
    font-size: 15pt;
    color: white;
    column-gap: 5em;

}

.headerContainer ul li a:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
}

   ul li {
    margin: 1em;
   }
  
   ul li a {
      text-decoration:solid;
      color: rgb(136, 23, 181);
      
   }
  

.bookBotton{
    display: flex;
    justify-content:flex-end;

    position: relative;  
   
}
header{
    text-align: center;
    background-color: rgb(137, 104, 222);
    padding: 80px;
    border-radius: 8px;
}
.paragrafi{
    font-size: 15px;
    color: rgb(185, 170, 224)
}
.paragrafi1{
    font-size: 60px;
    color: white;
}
.ph1 {
    order: 3; /* Vendosja e rënditjes së elementit */
    width: 320px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ph2 {
    order: 2; /* Vendosja e rënditjes së elementit */
    width: 320px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ph3 {
    order: 1; /* Vendosja e rënditjes së elementit */
    width: 320px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footeri{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 5em;
    background-color: rgb(38, 36, 39);
    opacity: 0.6;
    

 }



 /* .ph{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 } */