 /* main css */
*{
    margin: 0;
    padding: 0;
}

.headerContainer{
    display: flex;
    justify-content:space-between;
    height: 70px;
    align-items: center;
}
.logoEmri{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    
}
.headerContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;

    list-style: none;

    font-family: Arial;
    font-size: 13pt;
    color: white;

    padding-left: 100px;
    padding-top: 20px;
    right: 150px;
    position: relative;
    column-gap: 20px;

}

.headerContainer ul li a:hover {
    color:white;
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
}

   ul li {
    margin: 15px;
   }
  
   ul li a {
      text-decoration:solid;
      color: rgb(136, 23, 181);
      
   }
  

.bookBotton{
    display: flex;
    justify-content:flex-end;
    color: white;
    padding-right: 30px;
    padding-top: 20px;
  
}
/* .backgroundPic {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Fotot/thebackground.jpg');
    background-size: cover;
    background-position: center;
    
} */
.footeri{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgb(38, 36, 39);
    

 }
.rreshti55{
    padding-top: 20px;
    text-align: center;
    color: white;
 }
 /* main css */