*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F5F5;
 }

.headerContainer{
    display: flex;
    justify-content:space-between;
    height: 70px;
    align-items: center;
    background-color: rgb(50, 49, 51);
    padding-bottom: 20px;
}
.logoEmri{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    
}
.headerContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;

    list-style: none;

    font-family: Arial;
    font-size: 13pt;
    color: white;

    padding-left: 100px;
    padding-top: 20px;
    right: 150px;
    position: relative;
    column-gap: 20px;

}

.headerContainer ul li a:hover {
    color:white;
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
}

   ul li {
    margin: 15px;
   }
  
   ul li a {
      text-decoration:solid;
      color: rgb(136, 23, 181);
      
   }
  

.bookBotton{
    display: flex;
    justify-content:flex-end;
    color: white;
    padding-right: 30px;
    padding-top: 20px;
  
}