*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #F5F5F5;
   margin: 0;
   font-family: Arial,  sans-serif;
}


.headerContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    
   
   
}
.logoEmri{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    
}
.headerContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: Arial;
    font-size: 15pt;
    color: white;
    column-gap: 5em;

}

.headerContainer ul li a:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    transition: 1s;
}

   ul li {
    margin: 1em;
   }
  
   ul li a {
      text-decoration:solid;
      color: rgb(136, 23, 181);
      
   }
  

.bookBotton{
    display: flex;
    justify-content:flex-end;
    color: white;
    position: relative;  
   
}