*{
    margin: 0;
    padding: 0;
}

.headerContainer{
    display: flex;
    justify-content:space-between;
    height: 70px;
    align-items: center;
}
.logoEmri{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    padding-left: 15px;
    
}
.headerContainer ul{
    font-family: Arial;
    font-size: 13pt;
    color: white;
    padding-left: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    column-gap: 20px;
}

.headerContainer ul li a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: 5s;
}

.bookBotton{
    display: flex;
    justify-content:flex-end;
    color: white;
    padding-right: 20px;
  
}
.backgroundPic {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Fotot/thebackground.jpg');
    background-size: cover;
    background-position: center;
    
}

ul {
  position: relative;
  right: 150px;
} 
 ul li {
    margin: 15px;
 }

 ul li a {
    text-decoration: none;
 }

 .paragrafi1{
    display: flex;
    flex-direction: column;
    text-align: end;
    position: relative;
    top: 500px;
    left: 870px;
    width: 600px;
    display: flex;
    justify-content: flex-end;
    font-size: 28pt;
    color: white;
 }
 .paragrafi2 {
    display: flex;
    justify-content: center;
    font-size: 30pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .paragrafi3{
    display: flex;
    justify-content: center;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .rreshti1{
    display: flex;
    font-size: 17pt;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .paragrafi4{
    display: flex;
    justify-content: space-between;
 }
 .kolona1{
    width: 400px;
 }
 .kolona2{
    width: 400px;
 }
 .kolona3{
    width: 400px;
 }
 .footeri{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: rgb(181, 165, 195);
    opacity: 0.6;

 }

 