*{
    margin: 0;
    padding: 0;
}

.headerContainer{
    display: flex;
    justify-content:space-between;
    opacity: 70px;
    height: 70px;
    align-items: center;
}
.logoEmri{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    padding-left: 15px;
    
}
.headerContainer ul{
    font-family: Arial;
    font-size: 13pt;
    color: white;
    padding-left: 100px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    column-gap: 20px;
}

.headerContainer ul li a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: 5s;
}

.bookBotton{
    display: flex;
    justify-content:flex-end;
    color: white;
    padding-right: 20px;
  
}
.backgroundPic {
    width: 100%;
    height: 100vh;
    background-image: url('../img/Fotot/thebackground.jpg');
    background-size: cover;
    background-position: center;
    
}

ul {
  position: relative;
  right: 150px;
} 
 ul li {
    margin: 15px;
 }

 ul li a {
    text-decoration: none;
 }

 .paragrafi1{
    display: flex;
    flex-direction: column;
    text-align: end;
    position: relative;
    top: 480px;
    left: 850px;
    width: 600px;
 }

 .text1{
    display: flex;
    justify-content: flex-end;
    font-size: 28pt;
    color: white;
;
 }
 